.chats{
    position : relative;
    height : 4000px;
    width : 250px;
}
.chats__header{
    display : flex;
    justify-content : center;
    align-items : center;
    padding-left: 48px;
    padding-right : 48px; 
    background-color: #FFFDA2;
    height : 70px;
    /* width : 200px; */
}

.chats__search{
    display : flex;
    align-items : center;
    flex : 1;
    padding-left: 10px ;
    padding-right: 10px;
}


.chats__search > input{
    outline : none;
    background-color : transparent;
    border : none;
    font-style: 12px;
    flex : 1;
    color  : white;
}

.chats__avatar{
    height : 25px !important;
    width : 25px !important;
}


.chats__search > input::placeholder{
    color : black;
    opacity : 1;
}

.chats__posts{
    box-shadow : 1px -7px 7px -6px rgba(0,0,0,0.44);
    height : 359px;
    background-color : white;
    margin-top: -9px;
    border-top-left-radius : 10px;
    border-top-right-radius : 10px;
    overflow : scroll;
}

.chats__posts ::-webkit-scrollbar{
    display : none;
}

.chats__posts{
    -ms-overflow-style : none;
    scrollbar-width : none;
}

.chats__takePicIcon{
    position : absolute;
    background-color : white;
    border-radius : 200px;
    color : gray;
    font-size : 40px !important;
    cursor : pointer;
    bottom : 0;
    left : 50%;
    transform : translate(-50%,-50%);
}